
@import './../internal-lib/react-flow-main/packages/reactflow/dist/base.css';
@import './../internal-lib/react-flow-main/packages/controls/dist/style.css';
@import './../internal-lib/react-flow-main/packages/minimap/dist/style.css';
@import './../internal-lib/react-flow-main/packages/node-resizer/dist/style.css';

body {
  font-family: sans-serif;
  color: #111;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  font-weight: 700;
  align-items: center;
}

.logo {
  text-decoration: none;
  display: block;
  line-height: 1;
}

header a,
header a:focus,
header a:active,
header a:visited {
  color: #111;
}

header a:hover {
  color: #333;
}

header select {
  margin-left: 1em;
}

.overview-example__add {
  display: none;
}

.react-flow__node a {
  font-weight: 700;
  color: #111;
}

.react-flow__node.dark-node {
  background: #0041d0;
  color: #f8f8f8;
}

.react-flow__node.dark {
  background: #557;
  color: #f8f8f8;
}

.react-flow__node-selectorNode {
  font-size: 12px;
  background: #f0f2f3;
  border: 1px solid 555;
  border-radius: 5px;
  text-align: center;
}

.react-flow__node-selectorNode .react-flow__handle {
  border-color: #f0f2f3;
}

@media screen and (min-width: 768px) {
  .overview-example__add {
    display: block;
  }
}
.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  margin: 10px;
  font-size: 16px;
}

.oval {
  width: 80px;
  height: 40px;
  border-radius: 50%;
}

.rectangle {
  width: 100px;
  height: 60px;
}

.diamond {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 25px 0;
  border-color: #555555 transparent transparent transparent;
}

.parallelogram {
  width: 120px;
  height: 60px;
  transform: skewX(-20deg);
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.cylinder {
  width: 60px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #999, #666);
}

.pentagon {
  position: relative;
  width: 100px;
  height: 55px;
  background: #666;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

/* Style for Decision Symbol */
.decision {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
}